﻿@{
    ViewData["Title"] = "Finance Page";
}

<br />
<h2>Thu chi trong ngày</h2>
<br />

@(Html.Kendo().Grid<VivaMVC5.Models.Finances>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.CreatedDate).Title("Ngày").ClientTemplate("#= kendo.toString(CreatedDate, \"dd MMMM yyyy\") #").Width(150);
            columns.Bound(c => c.LevyName).Title("Thu").Width(200);
            columns.Bound(p => p.LevyFree).Title("Phí thu").Width(150).ClientFooterTemplate("Tổng thu: #=sum#");
            columns.Bound(c => c.PayName).Title("Chi").Width(200);
            columns.Bound(p => p.PayFree).Title("Phí chi").Width(150).ClientFooterTemplate("Tổng chi: #=sum#");
            columns.Command(command => command.Destroy()).Width(110);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .Pageable()
        .Scrollable()
        .Sortable()
        .Filterable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.LevyFree).Sum();
                aggregates.Add(p => p.PayFree).Sum();
            })
            .Batch(true)
            .PageSize(20)
            .ServerOperation(false)
            .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.Id))
            .Create("Create", "Finance")
            .Read("Read", "Finance")
            .Update("Update", "Finance")
            .Destroy("Destroy", "Finance")
        )
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>