﻿@{
    ViewData["Title"] = "Import Page";
}

<style>
    [type~=number] {
        width: 67px;
        height: 20px;
    }
</style>

<h2>Nhập nước và xuất vỏ công ty</h2>
<hr />

@using (Html.BeginForm("WorkSupplier", "Import", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Chọn loại nước:
            </td>
            <td>
                <select name="productId">
                    @foreach (var item in ViewBag.Products)
                {
                        <option value=@item.Id>@item.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Số lượng nước nhập:
            </td>
            <td>
                <input type="number" name="countWater" value="0" />
            </td>
        </tr>
        <tr>
            <td>
                Số lượng vỏ trả:
            </td>
            <td>
                <input type="number" name="countBottle" value="0" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Xử lý" />
}
<br />
@(Html.Kendo().Grid<VivaMVC5.Models.WorkSuppliers>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Product.Name).Title("Loại nước").Width(50);
                    columns.Bound(c => c.Water).Title("Số lượng nước nhập").Width(100);
                    columns.Bound(c => c.Bottle).Title("Số lượng vỏ trả").Width(100);
                    columns.Bound(c => c.CreatedDate).Title("Ngày giao dịch").ClientTemplate("#= kendo.toString(CreatedDate, \"dd MMMM yyyy\") #").Width(100);
                })
                .HtmlAttributes(new { style = "height: 380px;" })
                .Scrollable()
                .Sortable()
                .Filterable()
                .Pageable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("GetWorkSuppliers", "Import"))
                )
)
