﻿@{
    ViewData["Title"] = "Export Page";
}

<style>
    [type~=number] {
        width: 50px;
        height: 26px;
    }
</style>

<h2>Xuất nước và nhập vỏ khách hàng</h2>
<hr />

@using (Html.BeginForm("WorkCustomer", "Export", FormMethod.Post))
{
    <table>
        <tr>
            <td style="padding-top: 15px">
                Số lượng nước bán:&nbsp;
            </td>
            <td>
                @foreach (var item in ViewBag.Products)
                {
                    <strong style="padding-right: 5px">@item.Name</strong>
                }
                <br />
                <input type="number" name="waterVictory" value="0" />
                <input type="number" name="waterViva" value="0" />
                <input type="number" name="waterBirico" value="0" />
            </td>
        </tr>
        <tr>
            <td>
                Số lượng trả vỏ:&nbsp;
            </td>
            <td>
                <input type="number" name="bottleVictory" value="0" />
                <input type="number" name="bottleViva" value="0" />
                <input type="number" name="bottleBirico" value="0" />
            </td>
        </tr>
        <tr>
            <td>
                Khách hàng:&nbsp;
            </td>
            <td>
                <select name="customerId">
                    @foreach (var item in ViewBag.Customers)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Số tiền:&nbsp;
            </td>
            <td>
                <input type="number" name="totalMoney" value="0" style="width: 100px" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Xử lý" />
}
<br />
@(Html.Kendo().Grid<VivaMVC5.Models.WorkCustomers>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Customer.Name).Width(100);
            columns.Bound(c => c.Money).Width(100);
            columns.Bound(c => c.CreatedDate).Title("Ngày giao dịch").ClientTemplate("#= kendo.toString(CreatedDate, \"dd MMMM yyyy\") #").Width(100);

        })
        .Filterable()
        .Sortable()
        .Pageable()
        .Scrollable()
        .ClientDetailTemplateId("template")
        .HtmlAttributes(new { style = "height:430px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(6)
            .Read(read => read.Action("GetWorkCustomers", "Export"))
        )
        .Events(events => events.DataBound("dataBound"))
)

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<VivaMVC5.Models.WorkCustomerDetails>()
            .Name("grid_#=Id#")
            .Columns(columns =>
            {
                columns.Bound(c => c.ProductId).Title("Loại nước").Width(50);
                columns.Bound(c => c.Water).Title("Số lượng nước bán").Width(100);
                columns.Bound(c => c.Bottle).Title("Số lượng trả vỏ").Width(100);

            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("GetWorkCustomerDetails", "Export", new { workCustomerId = "#=Id#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>
