﻿@model VivaMVC5.Models.Products

@{
    ViewData["Title"] = "Detail Page";
}

<style>
    #tbl {
        background: #dddddd;
        border-radius: 10px !important;
        width: 600px;
    }

        #tbl td {
            height: 5px;
            overflow: hidden;
        }

            #tbl td:first-child {
                border: 1px #E9E9E9 solid;
                color: #fff;
                text-align: right;
                font-weight: 700;
                width: 30%;
                font-size: 12px;
                background: #6090C0;
            }

            #tbl td:last-child {
                font-size: 12px;
                font-weight: 700;
            }

    #detailImg {
        float: left;
        width: 200px;
        height: 150px;
    }

    #divDesc {
        overflow: auto;
        width: 400px;
        height: 350px;
    }

    h1 {
        width: 600px;
        font-size: 18px;
        font-weight: 400;
        border-bottom: 1px #ccc solid;
        padding-bottom: 3px;
        color: #900;
    }

    #addCart:hover {
        background-color: #FF7021;
    }
</style>

@{
    string desc = Model.HtmlDesciption;
    if (string.IsNullOrEmpty(desc))
    {
        desc = "Không có mô tả cho sản phẩm này";
    }
}

<br />
<h1>Bình nước uống tinh khiết @Model.Name @Model.RealVolume lít</h1>
<div>
    <table>
        <tr>
            <td>
                @if (string.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/images/no-image-box.png" />
                }
                else
                {
                    <img id="detailImg" src="~/images/@Model.Image" />
                }
                <div style="margin-left: 10px">
                    @*<input id="number" type="number" />
                        <br />*@
                    <input id="addCart" type="button" style="margin-left: 30px" value="MUA NGAY" />
                </div>
            </td>
            <td>
                <div id="divDesc">
                    @Html.Raw(desc)
                </div>
            </td>
        </tr>
    </table>
    <br />
    <table id="tbl">
        <tr>
            <td>Hương vị:&nbsp;</td>
            <td>@Model.Flavor</td>
        </tr>
        <tr>
            <td>Hướng dẫn sử dụng:&nbsp;</td>
            <td>Nên ướp lạnh trước khi dùng. Để nơi khô ráo, thoáng mát.</td>
        </tr>
        <tr>
            <td>Thể tích thực:&nbsp;</td>
            <td>@Model.RealVolume L</td>
        </tr>
        <tr>
            <td>Hình thức đóng gói:&nbsp;</td>
            <td>@Model.PackedType</td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#addCart').click(function () {
            $.blockUI({
                message: $('#shoppingCart'),
                css: {
                    width: '500px',
                    height: '500px',
                    top: '100px',
                    //left: '',
                    //right: '10px',
                    //border: 'none',
                    //padding: '5px'
                }
            });

            //$('.blockUI.blockMsg').center();
        });

        $('#payment').click(function () {
            // update the block message
            $.blockUI({ message: "<h1>Remote call in progress...</h1>" });

            $.ajax({
                url: 'wait.php',
                cache: false,
                complete: function () {
                    // unblock when remote call returns
                    $.unblockUI();
                }
            });
        });

        $('#shoppingContinute').click(function () {
            $.unblockUI();
            return false;
        });

    });
</script>

<div id="shoppingCart" style="display:none; cursor: default">
    <table>
        <tr>
            Part 1
            @*
                <td>
                    @if (string.IsNullOrEmpty(Model.Image))
                    {
                        <img src="~/images/no-image-box.png" />
                    }
                    else
                    {
                        <img src="~/images/@Model.Image" style="width:50px; height:50px"/>
                    }

                    <h1>Bình nước uống tinh khiết @Model.Name @Model.RealVolume lít</h1>
                </td>
                <td>
                    <strong>Giỏ hàng của tôi</strong>
                    SỐ LƯỢNG: <input id="number" type="number" />
                    <br />
                    GIÁ: 20000 VNĐ
                    <!--<hr />-->
                    <strong>Thành tiền</strong> (Đã bao gồm VAT):
                    <strong id="total">0 VNĐ</strong>
                    <button id="shoppingContinute" value="Tiếp tục mua hàng"></button>
                    <button type="button" id="payment" value="ĐẶT HÀNG"></button>
                </td>
            *@
        </tr>
        <tr>
            Các sản phẩm liên quan
            ...
        </tr>
    </table>
</div>