﻿@model IEnumerable<VivaMVC5.Models.Products>
@using VivaMVC5.Helper

@{
    ViewData["Title"] = "Home Page";
}

<style>
    table#example {
        border-collapse: collapse;
    }

    #example tr {
        background-color: #eee;
        border-top: 1px solid #fff;
    }

        #example tr:hover {
            background-color: #ccc;
        }

    #example th {
        background-color: #fff;
    }

    #example th, #example td {
        padding: 3px 5px;
    }

        #example td:hover {
            cursor: pointer;
        }
</style>

<h2>Danh mục sản phẩm</h2>
<hr />

@foreach (var item in Model)
{
    <table id="example">
        <tr onclick="location.href = '@(Url.Action("Detail", "Home", new { productId = item.Id }))'">
            <td>
                @if (string.IsNullOrEmpty(item.Image))
                {
                    <img src="~/images/no-image-box.png" style="width:200px; height:150px" />
                }
                else
                {
                    <img src="~/images/@item.Image" style="width:200px; height:150px" />
                }
            </td>
            <td>
                @{
                    var desc = item.HtmlDesciption;
                    if (string.IsNullOrEmpty(desc))
                    {
                        desc = "Không có mô tả cho sản phẩm này";
                    }
                    else
                    {
                        desc = CustomHTMLHelpers.RemoveHTMLTags(item.HtmlDesciption).Substring(0, 200) + "...";
                    }
                }
                <label>@desc</label>
            </td>
        </tr>
    </table>
    <hr />
                    }
