﻿@model IEnumerable<VivaMVC5.Models.Products>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>
<hr />

@foreach (var item in Model)
{
    <div>
        @if (string.IsNullOrEmpty(item.Image))
        {
            <img src="~/images/no-image-box.png" style="width:200px; height:150px"/>
        }
        else
        {
            <img src="~/images/@item.Image" style="width:200px; height:150px"/>
        }
        
        <label>@item.Name</label>
        <label>@item.Price</label>
    </div>
}
