﻿@{
    ViewData["Title"] = "Customer Page";
}

<br />
<h2>Danh sách khách hàng</h2>
<br />

@(Html.Kendo().Grid<VivaMVC5.Models.Customers>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Title("Mã khách hàng").Width(100);
            columns.Bound(c => c.Name).Title("Tên khách hàng").Width(200);
            columns.Bound(c => c.Address).Title("Địa chỉ").Width(200);
            columns.Bound(c => c.Phone).Title("Điện thoại").Width(80);
            columns.Command(command => command.Destroy()).Width(54);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .Pageable()
        .Scrollable()
        .Sortable()
        .Filterable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Batch(true)
            .PageSize(20)
            .ServerOperation(false)
            .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.Id))
            .Create("Create", "Customer")
            .Read("Read", "Customer")
            .Update("Update", "Customer")
            .Destroy("Destroy", "Customer")
        )
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>